<div class="allgames">
    <div class="animal_games">
        <img class="game play_voice_method" game="memory" voice_src="./sound/games/rem.mp3" src="./imgs/memoryGame.jpg">
        <img class="game play_voice_method" game="sound" voice_src="./sound/games/soundG.mp4" src="./imgs/soundgame.png">
        <img class="game play_voice_method" game="home" voice_src="./sound/games/homeG.mp4" src="./imgs/homegame.jpg"><br>
        <img class="game play_voice_method" game="real" voice_src="./sound/games/realG.mp4" src="./imgs/realanimalgame.jpg">
        <img class="game play_voice_method" game="son" voice_src="./sound/games/sonG.mp4" src="./imgs/songame.png">
        <img class="game play_voice_method" game="simon" voice_src="./sound/games/nameG.mp4" src="./imgs/simongame.jpg">
    </div>
    <div class="game_container">
        <div class="hebrow"></div>
        <div class="level_pass"></div>
        <div class="cover"></div>
        <div class="grid-stack animalgameinner">
        </div>
    </div>
</div>