<div class="functions">
    <a href="/tables" class="function tables">
        <img class="play_voice_method" voice_src="./sound/games/learn.mp4" src="./imgs/table.jpg">
    </a>
    <a href="/games" class="function games">
        <img class="play_voice_method" voice_src="./sound/games/Games.mp4" src="./imgs/toys.jpg">
    </a>
</div>

<div class="loading"></div>

<script>

    $(document).ready(function() { 
        hide_cover();
    });

</script>