<div class="alltables">
    <div class="animal_tables">
        <img class="table play_voice_method" table="sons" voice_src="./sound/games/learnSon.mp4" src="./imgs/TableOfchild.jpg">   
        <img class="table play_voice_method" table="homes" voice_src="./sound/games/learnHo.mp4" src="./imgs/tableOfHome.jpg">
        <img class="table play_voice_method" table="sounds" voice_src="./sound/games/learnSound.mp4" src="./imgs/tableOfSound.jpg">  
    </div>
    <div class="table_container">
        <div class="content sons">
        </div>
        <div class="content homes">
        </div>
        <div class="content sounds">
        </div>
        <div class="content preview_model"></div>
    </div>
</div>